{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load extras %}
{% block body %}

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="widget welcome-message">
                        <h1 style="text-align: center;">{{ post.ad_title}}</h1>
		</div>
		<div class="row">

			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">{{ post.owner}}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">{{ post.ad_cat}}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href=""> {{ post.ad_state}}</a></li>
						</ul>
					</div>

					<!-- product slider -->
					<div class="product-slider" style="height:800px;">
						<div class="product-slider-item my-4" data-image="{{ post.ad_image1.url}}">
							<img class="img-fluid w-100"  style="height:500px;" src="{{ post.ad_image1.url}}">
						</div>
						{% if "{{ post.ad_image2.url}}" != "/media/No%20Image" %}
						<div class="product-slider-item my-4" data-image="{{ post.ad_image2.url}}">
							<img class="d-block img-fluid w-100" style="height:500px;" src="{{ post.ad_image2.url}}" alt="Second slide">
						</div>
						{% endif %}
						{% if "{{ post.ad_image2.url}}" %}
						<div class="product-slider-item my-4" data-image="{{ post.ad_image3.url}}">
							<img class="d-block img-fluid w-100" style="height:500px;" src="{{ post.ad_image3.url}}" alt="Third slide">
						</div>
						{% endif %}
					</div>
					<!-- product slider -->

					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
								 aria-selected="true">Ad Description</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="false">Ad Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
								 aria-selected="false">Chats</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Ad Description</h3>
								<p>{{ post.ad_description }}</p>

							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Ad Details</h3>
								<table class="table table-bordered product-table">
									<tbody>
										<tr>
											<td>Seller Price</td>
											<td>{{ post.ad_price}}</td>
										</tr>
										<tr>
											<td>Added</td>
											<td> {{ post.post_date}}</td>
										</tr>
										<tr>
											<td>Location</td>
											<td>{{ post.ad_location}} | {{post.ad_city}}</td>
										</tr>
										<tr>
											<td>Brand</td>
											<td>{{ post.ad_brand}}</td>
										</tr>
										<tr>
											<td>Condition</td>
											<td>{{ post.condition}}</td>
										</tr>
										<tr>
											<td>Model</td>
											<td>{{ post.ad_model}}</td>
										</tr>
										<tr>
											<td>Category</td>
											<td>{{ post.ad_cat}}</td>
										</tr>
										<tr>
											<td>Sub-Category</td>
											<td>{{ post.ad_subcat}}</td>
										</tr>
										<tr>
											<td>State</td>
											<td>{{ post.ad_state}}</td>
										</tr>
										<tr>
											<td>Pincode</td>
											<td>{{ post.ad_pin_code}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Product Review</h3>
								<div class="product-review">
									{% for review in reviews %}
									<h3 class="my-1">{{ review.name_of_customer}}</h3>
									<span class="badge badge-secondary" style="padding:5px;">{{review.post_date_review }}</span>
									<h6>{{ review.subject}}</h6>
									<div class="media">
										<div class="media-body">
											<div class="review-comment">
											<p>{{ review.message}} </p>

											</div>
										</div>
									</div>
									<div>
										{% for reply in replydict|get_val:review.id %}
										<div class="my-0" style="padding-left:32px;">
											<h3 class="my-1">{{ reply.name_of_customer}}</h3>
											<span style="font-size:10px;">{{reply.post_date_review }}</span>
											<div class="media">
												<div class="media-body review-comment">
													<h6>{{ reply.subject}}</h6>
													<p>{{ reply.message}} </p>
												</div>
										    </div>
										</div>
										{% endfor %}
									</div>

									<div>
										<p>
										  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{review.id}}" aria-controls="replyBox{{review.id}}">Reply</button>
										</p>
										<div class="collapse" id="replyBox{{review.id}}">
										  <div class="card card-body">
												<form action="/review/{{post.id}}" class="row" method="POST">
												<div class="col-md-12">
													<h3 class="tab-title">Submit Reply</h3>
												</div>
												<div class="col-md-12">
													{% if messages %}
													{% for message in messages %}
														<ul style="font-weight:bold; font-size:20px;; font-style: italic; color : black;
														text-align:center; padding-bottom: 25px;">{{ message }}</ul>
													{% endfor %}
													{% endif %}

												</div>

												{% csrf_token %}
												<div class="col-lg-6">
													{{ form.subject.label_tag }}
													{% render_field form.subject class+="form-control" %}
												</div>
												<div class="col-12">
													{{ form.message.label_tag }}
													{% render_field form.message class+="form-control" %}
												</div>
													<input type="hidden" name="r_id" value={{review.id}}>

													<button type="submit" class="btn btn-main my-2">Sumbit</button>
												</form>
										  </div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">

					<!-- User Profile widget -->
					<div class="widget user text-center">
						{% if pro.ad_profile_pic.url %}
							<img class="rounded-circle img-fluid mb-5 px-5" src="{{pro.ad_profile_pic.url}}" alt="">
						{% else %}
							<img class="rounded-circle img-fluid mb-5 px-5" src="{% static 'images/user/person2.png' %}" alt="">
						{% endif %}
						<h4><a href=""> {{ post.owner }} </a></h4>
						{% if loc.city %}
							<h4><a href=""> {{ loc.city }} | {{loc.state}} </a></h4>
						{% endif %}
						<a href="/my_ads">See all ads</a>
						<ul class="list-inline mt-20">
							<li class="list-inline-item"><a href="{% url 'advertisements:update' post.id %}" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">
									Update </a></li>
							<li class="list-inline-item"><a href="{% url 'advertisements:delete' post.id %}" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">
									Delete</a></li>
						</ul>
					</div>
					<!-- Map Widget -->
					<div class="widget price text-center">
						<h4>Price</h4>
						<p>Rs. {{ post.ad_price}}</p>
					</div>
					<!-- Rate Widget -->

					<!-- Safety tips widget -->

					<!-- Coupon Widget -->
					<div class="widget coupon text-center">
						<!-- Coupon description -->
						<p>Have a great product to post ? Share it with
							your fellow users.
						</p>
						<!-- Submii button -->
						<a href="/ad_listing" class="btn btn-transparent-white">Submit Listing</a>
					</div>

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
</section>
<!--{{ user.location}}-->

<!--============================
=            Footer            =
=============================-->
{% endblock %}