{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <h1>Hello</h1>
                    <h1>Hello</h1>

<!--          {% for post in posts %}-->

<!--            Username: {{ post.owner.username }}-->
<!--            Post: {{ post.ad_title }}<br>-->

<!--          {% endfor %}-->
          {% if logged_in_user_posts %}
            <ul>
            {% for post in logged_in_user_posts %}
                <li><a href="/{{ question.id }}/">{{ post.ad_title }}</a></li>
            {% endfor %}
            </ul>
          {% else %}
              <p>No polls are available.</p>
          {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock%}